body{
    background-color: rgb(226, 235, 232);
    font-family: Arial;
}

div
{
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 50px;
    background-color:rgb(226, 235, 232);
    
}
table {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 50%;
    height: 30px;
    
}
.heading
{
    background-color: rgb(120, 117, 117);
}
.add{
    background-color:green;
}
.delete{
    background-color: red;
}

